<!DOCTYPE html>
<html>
<head>
    <title>ERROR: Bad request.</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet" type="text/css">
    <!-- link the stylesheet here-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
    <!--can just use the same card layout as the share cards-->
    <div class="share-card">
        <h2 class="share-card-header">ERROR: 400</h2>
        <p class="share-card-subheader">Sorry, something went wrong with your request.</p>
        <p class="share-card-subheader">Maybe try again?</p>
    </div>  

</body>
</html>