<!DOCTYPE html>
<html>
<head>
  <title>Event</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet" type="text/css">
  <!-- link the stylesheet here-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
    <!--redirect to home page-->
    <button type="button" id="homepage">Home</button>
    <script>
      document.getElementById("homepage").onclick = function() {
        window.location.href = "/";
      };
    </script>
  
    <main>
      <div class="master-div-style">
          <!--top of page displays event data-->
          <div class="event-details-box">
            <h1 id="title">{{ event_data.event_title }}</h1>
            <p id="description">{{ event_data.event_address }}</p>
            <!--date is a datetime type, so we can customize printed format it-->
            <p id="description">  {{ event_data.event_date.strftime('%B %d, %Y') }}</p>
          </div>

          <h2 class="event-messages-box-title">What others have said:</h2>
          <!--print all of the exising messages, ordered by date-->
          <div class="event-messages-box">
            {% for message in messages_data %}
            <div class="event-message">
              <div class="event-message-header">
                <span class="event-message-display-name">{{ message.display_name }}</span>
              </div>
              <div class="event-message-body">
                <p>{{ message.message_content }}</p>
              </div> 
            </div>
            {% endfor %}
          </div>

          <h3 class="event-messages-box-title">Add your own message!</h3>

        <!--action defines where to send form data. can send to an animation/share page-->
        <form id="new-message-form" action="/postMessage/{{event_data.event_id}}" method="post" enctype="multipart/form-data">
          <!-- Event Title -->
          <div class="form-rows">
            <div class="labels">
              <label for="display_name" id="name-label">Name:</label>
            </div>
            <div class="fields">
              <input name="display_name" id="event-name" class="input-fields" placeholder="Display Name" type="text" required>
            </div>
          </div>
  
          <!-- Event Description -->
          <div class="form-rows">
            <div class="labels">
              <label for="message_content">Message:</label>
            </div>
            <div class="fields">
              <textarea name="message_content" id="event-message" class="input-fields"  placeholder="Message" cols="1" rows="3"></textarea>
            </div>
          </div>

          <button class="button" id="submit" type="submit">Submit</button>
  
        </form>
      </div>
    </main>
  </body>
  
  </html>