<!DOCTYPE html>
<html>
<head>
  <title>{{ event_data.event_title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet" type="text/css">
  <!-- link the stylesheet here-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
  <!--navbar with buttons to route to relevant pages-->
  <nav class="home-navbar">
    <button type="button" onclick="window.location.href='/';">Home</button>
    {% if current_user.is_authenticated %}
      <button type="button" onclick="window.location.href='/logout';">Logout</button>
      <p>Logged in as {{ current_user.first_name }} {{ current_user.last_name }}</p>
    {% endif %}
  </nav>

  <main>
      <!-- event details at top of page -->
      <section class="event-details-container">
        <h1 class="share-card-header ellipsis-1">{{ event_data.event_title }}</h1>
        <p class="share-card-subheader ellipsis-2">Where: {{ event_data.event_address }}</p>
        <p class="share-card-subheader ellipsis-2">When: {{ event_data.event_date.strftime('%B %d, %Y') }}</p>
      </section>

      <!-- existing comments from guests -->
      <h2 style="margin-bottom:10px; padding:0;">What others have said</h2>
      <section class="event-messages-container">
        {% if messages_data %}
          {% for message in messages_data %}
          <div class="event-message">
            <span class="event-message-display-name ellipsis-1">{{ message.display_name }}</span>
            <p class="event-message-body">{{ message.message_content }}</p>
          </div>
          {% endfor %}
        {% else %}
          <p class="empty-container-notice">No messages yet. Be the first to leave one!</p>
        {% endif %}
      </section>

      <!-- form to add new messages -->
      <h2 style="margin-bottom: 10px; padding:0;">Add your own message!</h2>
      <section class="message-form-container">
        <form class="new-message-form" action="/postMessage/{{event_data.event_id}}" method="post" enctype="multipart/form-data">
          <!-- display name-->
          <label class="new-message-input-label" for="display_name" id="name-label">Display Name<span class="hint">(max 30 char.)</span></label>
          <input class="new-message-input-field" name="display_name" placeholder="Your name" type="text" required maxlength="30">

          <!-- message content -->
          <label class="new-message-input-label"   for="message_content">Message</label>
          <textarea class="new-message-input-field" name="message_content" placeholder="your message..." cols="1" rows="5" required></textarea>
          
          <!-- Submit Button -->
          <button class="form-button" id="submit" type="submit">Submit</button>
        </form>
      </section>

  </main>
</body>

</html>