<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <!-- link the stylesheet here -->
  <link rel= "stylesheet" type="text/css" href= "{{url_for('static',filename='styles/styles.css')}}">
  <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
</head>

<body>
  <nav class="home-navbar">
    {% if current_user.is_authenticated %}
    <button type="button" id="logout" onclick="window.location.href='/logout';">Logout</button>
    <button type="button" id="createEvent" onclick="window.location.href='/createevent';">Create Event</button>
    <p>Logged in as {{ current_user.first_name }} {{ current_user.last_name }}</p>
    {% else %}
    <button type="button" id="signin" onclick="window.location.href='/login';">Sign In / Sign Up</button>
    {% endif %}
  </nav>

<div class="slideshow-container">
  <div class="mySlides">
    <img src="{{ url_for('static', filename='images/birthday-event.jpg') }}" alt="Slide 1">
    <br>
    <button class="slide-btn" id="createBirthday"onclick="window.location.href='/createBirthday';">View Birthday Event</button>
  </div>

  <div class="mySlides" style="display: none;">
    <img src="{{ url_for('static', filename='images/christmas-event.jpg') }}" alt="Slide 2">
    <br>
    <button class="slide-btn" id="createChristmas"onclick="window.location.href='/createChristmas';">Explore Christmas Fun</button>
  </div>

  <div class="mySlides" style="display: none;">
    <img src="{{ url_for('static', filename='images/halloween-event.jpg') }}" alt="Slide 3">
    <br>
    <button class="slide-btn" id="createHalloween" onclick="window.location.href='/createHalloween';">Join Halloween Bash</button>
  </div>

  <div class="mySlides" style="display: none;">
    <img src="{{ url_for('static', filename='images/stpatrick-event.jpg') }}" alt="Slide 4">
    <br>
    <button class="slide-btn" id="createStPatty" onclick="window.location.href='/createStPatty';">Celebrate St. Patrick's Day</button>
  </div>

  <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
  <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>

<div class="dots">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>

</body>
</html>