<!DOCTYPE html>
<html>
<head>
    <title>Share your Event!</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet" type="text/css">
    <!-- link the stylesheet here-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
    <!--container for entire "share" item-->
    <div id="share-container">
        <div id="share-card">
            <!--top part of the card has the event details-->
            <div class="share-event-details">
                <h1>Share your Event!</h1>
                <h3>Title: {{ data.event_title }}</h3>
                <h3>Location: {{ data.event_address }}</h3>
                <h3>Date: {{ data.event_date.strftime('%B %d, %Y') }}</h3>
            </div>
            <!--smaller container for link and copy button-->
            <div class="share-event-link">
                <p>Share this link with your friends!</p>
                <div class="share-event-link-url">
                    <!--custom url will be populated dynamically based on event id-->
                    <input id="custom-event-url" type="text" class="event-link" readonly />
                    <!--when button is clicked, copy link to clipboard and perform simple animation-->
                    <button id="copy-custom-url-button" onclick="copyCustomLink(this)">Copy</button>
                </div>
            </div> 
        </div>  
    </div>
    <!-- script for custom url rendering-->
    <script>
        //create and render custom url
        //replace "share" with "event" in the url
        let eventPageUrl = window.location.href.replace("share", "event")
        //put the url into the custom url tag
        document.getElementById("custom-event-url").setAttribute("value", eventPageUrl)

        //function to copy url to clipboard
        function copyCustomLink(copyButton){
            //copy the link to the clipboard
            navigator.clipboard.writeText(eventPageUrl);
            //replace button text with a checkmark
            document.getElementById("copy-custom-url-button").textContent = "\u2714";
            //wait a few seconds, then reset the button text
            setTimeout(() =>  document.getElementById("copy-custom-url-button").textContent = "Copy", 2000);
        }
    </script>
</body>
</html>