<!DOCTYPE html>
<html>
<head>
    <title>Share your Event!</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed" rel="stylesheet" type="text/css">
    <!-- link the stylesheet here-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>

<body>
    <nav class="home-navbar">
        <button type="button" id="homepage" onclick="window.location.href='/'">Home</button>
        {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.first_name }} {{ current_user.last_name }}</p>
        {% endif %}
    </nav>
    <!--center card with contrasting background-->
    <div class="share-card">
        <!--event details-->
        <h2 class="share-card-header">Share your Event!</h2>
        <h3 class="share-card-details">Event: {{ data.event_title }}</h3>
        <h3 class="share-card-details">Location: {{ data.event_address }}</h3>
        <h3 class="share-card-details">Date: {{ data.event_date.strftime('%B %d, %Y') }}</h3>
        <!--custom url and copy button-->
        <h4 class="share-card-subheader" style="font-style: italic;">Use this link to share with your friends!</h4>
        <div class="share-card-url-container">
            <!--custom url will be populated dynamically based on event id-->
            <input class="share-card-url" id="custom-event-url" type="text" readonly />
            <!--when button is clicked, copy link to clipboard and perform simple animation-->
            <button onclick="copyCustomLink(this)">Copy</button>
        </div>
    </div>  

    <!-- script for custom url rendering-->
    <script>
        //create and render custom url
        //replace "share" with "event" in the url
        let eventPageUrl = window.location.href.replace("share", "event")
        //put the url into the custom url tag
        document.getElementById("custom-event-url").setAttribute("value", eventPageUrl)

        //function to copy url to clipboard
        function copyCustomLink(copyButton){
            //copy the link to the clipboard
            navigator.clipboard.writeText(eventPageUrl);
            //replace button text with a checkmark
            document.getElementById("copy-custom-url-button").textContent = "\u2714";
            //wait a few seconds, then reset the button text
            setTimeout(() =>  document.getElementById("copy-custom-url-button").textContent = "Copy", 500);
        }
    </script>
</body>
</html>