<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- link the stylesheet here-->
    <link rel= "stylesheet" type="text/css" href= "{{url_for('static',filename='styles/styles.css')}}">
  </head>

  <body>
    <!-- redirect to homepage-->
    <button type="button" id="homepage" onclick="window.location.href='/';">Home</button>

    <!--main form-->
    <h1>Create your Account</h1>
    <p>Sign up to create your account or  <a href="/login">sign in</a> to see your past events!</p>
    
    <!--display an alert for failed signup-->
    {% with alerts = get_flashed_messages() %}
      {% if alerts %}
        {% for alert in alerts %}
          <p class="user-login-alert">{{ alert }} </p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action='/signup' method="post" enctype="multipart/form-data">
      <fieldset>
        <label for="first_name">Enter Your First Name: <input name="first_name" type="text" required /></label>
        <label for="last_name">Enter Your Last Name: <input name="last_name" type="text" required /></label>
        <label for="email">Enter Your Email: <input name="email" type="email"  required /></label>
        <label for="password_hash">Create a New Password: <input name="password_hash" type="password" required /></label>
      </fieldset>
      
      <fieldset>
        <label>
          <input type="checkbox" name="terms" class="inline" required /> I accept the <a href="/static/termsandconditions.txt">terms and conditions</a>
        </label>
      </fieldset>

      <!--
      <fieldset>
        <label>Upload a profile picture: <input type="file" name="file" /></label>
      </fieldset>
      -->

      <input type="submit" value="Submit" />
    </form>

  </body>
</html>