<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- link the stylesheet here-->
    <link rel= "stylesheet" type="text/css" href= "{{url_for('static',filename='styles/styles.css')}}">
  </head>

  <body>
    <!--redirect to home page-->
    <nav class="home-navbar">
    {% if current_user.is_authenticated %}
    <button type="button" id="homepage" onclick="window.location.href='/';">Home</button>
    <button type="button" id="logout" onclick="window.location.href='/logout';">Logout</button>
    <p class="ellipsis-1">Logged in as {{ current_user.first_name }} {{ current_user.last_name }}</p>
    {% endif %}
    </nav>

    <!--sign in form-->
    <h1>Sign Into Your Account:</h1>
    <p>Don't have an account? <a href="/signup">Sign up here!</a></p>
   
    <!--display an alert for failed login-->
    {% with alerts = get_flashed_messages(category_filter=["error"]) %}
      {% if alerts %}
        <p class="alert-message">{{ alerts[0] }} </p>
      {% endif %}
    {% endwith %}
    <!--display a success message for successful signups -->
    {% with alerts = get_flashed_messages(category_filter=["success"]) %}
      {% if alerts %}
          <p class="success-message">{{ alerts[0] }}</p>
      {% endif %}
    {% endwith %}

    <!--email and password form-->
    <form action='/login' method="post" enctype="multipart/form-data">
      <fieldset>
        <label for="email">Enter Your Email: <input name="email" type="email" required /></label>
        <label for="password">Enter Your Password: <input name="password" type="password" required /></label>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
    
  </body>
</html>